

<table class="table-auto">
  <thead>
   <tr class="text-green font-hand2">
    <th class="">Item</th>
	<th class="">Added</th>
    <th class="">edit</th>
    <th class="">delete</th>
   </tr>
  </thead>
  <tbody>
   <% @items.each do |item| %>
    <tr>
     <td class=""><%= item.name %></td>
     <td class=""><%= time_ago_in_words item.created_at %> ago</td>
     <td class=""><%= link_to 'Edit', edit_admin_category_item_path(item.category, item) %></td>
     <td class=""><%= link_to 'Delete', admin_category_item_path(item.category, item), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
   <% end %>
  </tbody>
 </table>

<div style="margin-bottom: 20px">
  <%= link_to 'Create a new item', new_admin_category_item_path%>
</div>

