<div class="navbar navbar-expand-md sticky-top navbar-light navbar-lewagon">
  <div class="logo-name">
    <%= link_to categories_path, class: "nav-link" do %>
      <i class="fas fa-praying-hands fa-2x"></i>
    <% end %>

    <h1>Artisan</h1>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.is_admin %>
          <li class="nav-item">
            <%= link_to "Admin", admin_categories_path, class: "nav-link", style: "margin: 2px 10px 0" %>
          </li>
        <% end %>

        <li id="cart-size" class="nav-item">
          <%= link_to orders_path, class: "nav-link", style: "margin: 2px 10px 0" do %>
            Cart
            <%= "(#{current_user.cart_size})" unless current_user.cart_size.zero? %>
          <% end %>
        </li>

        <li id="cart-size" class="nav-item">
          <%= link_to "#", class: "nav-link", style: "margin: 2px 10px 0" do %>
            Special Offers
          <% end %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
             aria-expanded="false">
            <%= small_avatar(current_user) %>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: "nav-link", style: "margin: 0 10px" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link", style: "margin: 0 10px" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
