<h2>ORDERS HISTORY</h2>

<% if @paid_orders.size.zero? %>
  <p style="margin-left: 10px">You have not made any orders yet</p>

<% else %>
  <ul class="orders-items-list">
    <% @paid_orders.each do |order| %>
      <li class="orders-item-card">
        <%= link_to order_path(order) do %>
          <div class="orders-item-card-img" style="background-image: url('<%= cl_image_path order.orders_items.first.item.picture.key,
              height: 150, width: 150, crop: :fill %>')">
          </div>
        <% end %>

        <div class="orders-item-card-info">
          <div class="orders-item-card-content">
            <h4>ORDER <%= "#" + "%08d" % @order.id %></h4>

            <p>Paid (<%= order.updated_at.strftime('%b %e, %Y') %>)</p>
            <p>Delivered (<%= (order.updated_at + (60*60*24*3)).strftime('%b %e, %Y') %>)</p>
          </div>
        </div>

        <table>
          <tbody>
            <tr>
              <td>Items (x)</td>
              <td>Value</td>
            </tr>

            <tr>
              <td>Shipping</td>
              <td>Value</td>
            </tr>

            <tr>
              <td>Total</td>
              <td>Value</td>
            </tr>
          </tbody>
        </table>
      </li>
    <% end %>
  </ul>
<% end %>
