<ul class="orders-list">
  <h2><span>SHOPPING CART</span></h2>

  <% if @user.pending_orders.length == 0 %>
    <p class="show-text" style="margin-left: 10px">Your shopping cart is empty</p>

  <% else %>
    <% @user.pending_orders.each do |order| %>
      <li class="order-card">
        <div style="background-image: url('<%= cl_image_path order.item.picture.key, height: 150, width: 150, crop: :fill %>');
             width: 150px; height: 150px; min-width: 150px; box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); border-radius: 2px">
        </div>

        <div style="margin: 0 10px; flex-grow: 1">
          <h4><%= order.item.name %></h4>
          <p><%= order.item.description %></p>

          <div class="d-flex">
            <p style="border-right: 2px solid rgba(0, 0, 0, 0.2); padding-right: 5px; margin-right: 5px">Qnt: 1</p>
            <%= link_to order_path(order), class:"btn-delete", style: "margin-right: 5px", method: :delete, data: {confirm: "Are you sure?"} do %>
              Delete
            <% end %>
          </div>
        </div>

        <div style="width: 100px; position: relative">
          <p style="position: absolute; top: 8px; left: 0; font-weight: bold; font-size: 20px"><%= humanized_money_with_symbol(order.item.price) %></p>
        </div>
      </li>
    <% end %>

    <div style="width: 100%; height: 85px; position: relative">
      <p style="display: flex; margin: 10px 0 0; height: 30px; position: absolute; right: 0; top: 0"><strong>Subtotal (2 items): <%= humanized_money_with_symbol(@total) %></strong></p>
      
      <%= link_to buy_all_orders_path, class:"btn btn-ghost", style:"display: flex; margin-left: 20px; width: 125px; position: absolute; right: 0; bottom: 0", method: :post, data: {confirm: "Your order equals #{'%.2f' % @total} €. Wanna pay with the saved credit card?"} do %>
        <i class="fas fa-shopping-cart" style="height: 20px; padding: 0"></i>
        <p style="margin: 0 0 0 10px">Checkout</p>
      <% end %>
    </div>
  <% end %>
</ul>

<ul class="orders-list">
  <h2 style="margin-bottom: 20px">Orders History</h2>

  <% if @user.payed_orders.length == 0 %>
    <p class="show-text" style="margin-left: 10px">You have not made any orders yet</p>

  <% else %>
    <% @user.payed_orders.each do |order| %>
      <li style="list-style: none; align-items: center; display: flex; box-shadow: 0 0 2px 0.8px rgba(0, 0, 0, 0.3); margin-bottom: 20px; padding: 10px">
        <div style="background-image: url('<%= cl_image_path order.item.picture.key, height: 150, width: 150, crop: :fill %>');
             width: 150px; height: 150px; min-width: 150px; box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); border-radius: 2px">
        </div>

        <div style="margin: 10px">
          <h4 class="show-text" style="margin: 0 0 10px 10px"><%= order.item.name %></h4>

          <div style="margin-left: 14px; margin: 5px 14px">
            <p class="show-text"><strong>Description: </strong><%= order.item.description %></p>
            <p class="show-text"><strong>Paid: </strong><%= humanized_money_with_symbol(order.item.price) %></p>
            <p class="show-text"><strong>Ordered: </strong><%= order.updated_at.strftime("%Y-%m-%d") %></p>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
