<div id="shopping-cart" class="order-container">
  <h2>SHOPPING CART</h2>

  <% if current_user.pending_order.num_items.zero? %>
    <p style="margin-left: 10px">Your shopping cart is empty</p>

  <% else %>
    <%= render "orders_items/orders-items-list-editable" %>

    <div class="order-checkout">
      <p>
        Subtotal (<%= current_user.pending_order.num_items == 1 ? "#{current_user.pending_order.num_items} item" : "#{current_user.pending_order.num_items} items" %>):
        <%= humanized_money_with_symbol(current_user.pending_order.subtotal) %>
      </p>

      <%= link_to buy_all_orders_path, class:"btn btn-ghost", method: :post, remote: true do %>
        Checkout
      <% end %>
    </div>
  <% end %>
</div>

<ul class="orders-list" id="paid-orders">
  <%= render "orders/paid-orders" %>
</ul>

<!-- Modal Order Checkout -->
<div class="modal fade" id="ModalCheckout" role="dialog"></div>
