<div class="order-container">
  <h2>Order Details</h2>

  <% if current_user.pending_order.num_items.zero? %>
    <p style="margin-left: 10px">Your shopping cart is empty</p>

  <% else %>
    <%= render "orders_items/orders-items-list" %>

    <div class="order-checkout">
      <p>
        Subtotal (<%= current_user.pending_order.num_items == 1 ? "#{current_user.pending_order.num_items} item" : "#{current_user.pending_order.num_items} items" %>):
        <%= humanized_money_with_symbol(current_user.pending_order.subtotal) %>
      </p>

      <p style="top: 30px">
        Shipping: <%= @order.shipping %>
      </p>

      <p style="top: 60px">
        Total: <%= @order.total %>
      </p>
    </div>
  <% end %>
</div>
