<ul class="orders-items-list">
  <% @order_items.each do |order_item| %>
    <li class="order-card">
      <%= link_to category_item_path(order_item.item.category, order_item.item) do %>
        <div style="background-image: url('<%= cl_image_path order_item.item.picture.key, height: 150, width: 150, crop: :fill %>');
              width: 150px; height: 150px; min-width: 150px; box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); border-radius: 2px">
        </div>
      <% end %>

      <div style="margin: 0 10px; flex-grow: 1">
        <h4><%= order_item.item.name %></h4>
        <p><%= order_item.item.description %></p>

        <div class="order-actions d-flex">
          <p>Qty: <%= order_item.quantity %></p>
        </div>
      </div>

      <div class="order-price">
        <p><%= humanized_money_with_symbol(order_item.item.price) %></p>
      </div>
    </li>
  <% end %>
</ul>
