<h1 style="margin: 15px 0 20px 25px"><%= @category.name %></h1>

<div class="container-cards">
  <div class="cards">
    <% @items.each do |item| %>
      <%= link_to category_item_path(@category, item) do %>
        <div class="card" data-aos="fade-zoom-in" data-aos-duration="500">
          <div class="img-card" style="background-image: url('<%= cl_image_path item.picture.key, height: 220, width: 220, crop: :fill %>')"></div>
          <div class="text-holder">
            <h5 class="text-item-index"><%= item.name %></h5>
            <p class="text-item-index"><%= item.description %></p>
            <p class="text-item-index"><%= item.price.round %> €</p>
          </div>        
        </div>
      <% end %>
    <% end %>
  </div>
</div>
