<h1 class="bordered-headers" style="font-size: 32px; margin: 15px 40px 25px"><span><%= @category.name %></span></h1>

<div class="items-container">
  <% @category_items.each do |item| %>
    <%= link_to category_item_path(@category, item) do %>
      <div class="item-card" data-aos="fade-zoom-in" data-aos-duration="500">
        <div class="img-card"
             style="background-image: url('<%= cl_image_path item.picture.key, height: 240, width: 240, crop: :fill %>')">
        </div>
        <div class="text-holder">
          <h5><%= item.name %></h5>
          <p><%= item.description %></p>
          <p><%= humanized_money_with_symbol(item.price) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
