<div class="container-show">

  <div style="background-image: url('<%= cl_image_path @item.picture.key, height: 400, width: 400, crop: :fill %>'); width: 400px; height: 400px">>
  </div>

  <div class="information">
    <div class="details">
      <h2><b><%= @item.name %></b></h2>
      <hr>
      <p class="show-text"><b><%= @item.category.name %></b></p>
      <p class="show-text"><%= @item.description %></p>
    </div>

    <div>
      <div id="price-div">
      <p id="price-tag" class="show-text"><b><%= '%.2f' % @item.price %> € </b></p>
      <%= simple_form_for [@category, @item, @order] do |f| %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>

<div style="margin: 20px">
  <div style="padding: 10px 20px; box-shadow: 0 0 5px 0.8px rgba(0, 0, 0, 0.3); margin-bottom: 20px">
    <%= simple_form_for [@category, @item, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <ul style="padding: 10px 20px; box-shadow: 0 0 5px 0.8px rgba(0, 0, 0, 0.3); margin-bottom: 20px">
    <% if @item.reviews.length == 0 %>
      <p class="show-text" style="margin-left: 10px">Be the first to leave a review!</p>
    <% else %>
      <% @item.reviews.reverse[0..4].each do |review| %>
        <li style="list-style: none; align-items: center; padding: 10px 0">
          <p class="show-text" style="margin-bottom: 0"><%= review.user.name.capitalize %></p>

          <p class="show-text" style="font-size: 18px; margin: 0">
            <%= ("★" * review.rating) + ("☆" * (5 - review.rating)) %>
            <span style="font-size: 12px"><%= " #{review.created_at.strftime("%Y-%m-%d")}" %></span>
          </p>

          <p class="show-text" style="margin-left: 16px; margin-bottom: 5px"><%= review.content %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
