<div class="item-show-card">
  <div class="item-show-img"
       style="background-image: url('<%= cl_image_path @item.picture.key, height: 400, width: 400, crop: :fill %>')"></div>

  <div class="item-show-details">
    <h1><%= @item.name %></h1>

    <div class="details">
      <table style="width: 100%">
        <tr>
          <td style="width: 50px"><h5>Category</h5></td>
          <td style="width: 15px"></td>
          <td><h6><%= @item.category.name %></h6></td>
        </tr>
        <tr>
          <td><h5>Rating</h5></td>
          <td></td>
          <td>
            <h6>
              <%= @item.rating_average %>
              <span>
                <%= @item.reviews.size %>
                ratings
              </span>
            </h6>
          </td>
        </tr>
      </table>

      <p><%= @item.description %></p>
    </div>

    <p class="item-show-price"><%= humanized_money_with_symbol(@item.price) %></p>

    <%= simple_form_for [@category, @item, @order] do |f| %>
      <%= f.button :submit, class: "btn btn-ghost", value: "Add to Cart" %>
    <% end %>
  </div>
</div>

<ul class="reviews-container">
  <h4>Costumers Reviews</h4>

  <%= simple_form_for [@category, @item, @review], html: { class: "stars-container" } do |f| %>
    <div class="stars">
      <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last,
          item_wrapper_tag: false, boolean_style: :inline do |b| %>
        <%= b.radio_button + b.label {''} %>
      <% end %>
    </div>

    <div class="d-flex" style="position: relative">
      <%= f.input :content, label: false, placeholder: "Share your experience" %>

      <div style="position: absolute; bottom: 20px; right: 10px">
        <%= f.button :submit, class: "btn btn-ghost", value: "Leave Review" %>
      </div>
    </div>
  <% end %>

  <% if @item.reviews.length == 0 %>
    <p style="margin-left: 10px">Be the first to leave a review!</p>

  <% else %>
    <% @item.reviews.reverse[0..4].each do |review| %>
      <li>
        <p style="font-size: 18px; margin-bottom: 0"><%= review.user.name.capitalize %></p>

        <p data-rating=<%= review.rating %> style="font-size: 18px; margin: 0">
          <span style="font-size: 12px; margin-left: 2px"><%= time_ago_in_words(review.created_at) %></span>
        </p>

        <p style="margin-left: 16px; margin-bottom: 5px"><%= review.content %></p>
      </li>
    <% end %>
  <% end %>
</ul>

<!--
  <% if user_signed_in? && (current_user.reviews.count { |x| x.item.id == @item.id }) < (current_user.payed_orders.count { |x| x.item.id == @item.id }) %>
  <% end %>
-->
