<div class="container-show">

<div style="background-image: url('<%= cl_image_path @item.picture.key, height: 400, width: 400, crop: :fill %>'); width: 400px; height: 400px">>
</div>

  <div class="information">
    <div class="details">
      <h2><b><%= @item.name %></b></h2>
      <hr>
      <p class="show-text"><b><%= @item.category.name %></b></p>
      <p class="show-text"><%= @item.description %></p>
    </div>

    <div>
      <p id="price-tag" class="show-text"><b><%= '%.2f' % @item.price %>€ </b></p>
      <div class="button">
        <button id="button-out">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
