<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Categories</th>
      <th scope="col">Added</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
     <% @categories.each do |cat| %>
    <tr>
      <th scope="row"><%= cat.name %></th>
      <td><%= time_ago_in_words cat.created_at %> ago</td>
      <td><%= link_to 'Details', admin_category_path(cat) %></td>
      <td><%= link_to 'Edit', edit_admin_category_path(cat) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-bottom: 20px">
  <%= link_to 'Create a new category',  new_admin_category_path %>
</div>
