<div class="admin-container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Categories</th>
        <th>Num Items</th>
        <th>Created</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= link_to "Delete", data: { toggle: "modal", target: "#ModalDeleteCategory#{category.id}" }, class: "btn-delete",
                style: "margin-right: 5px; font-size: 18px" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>

            <%= link_to "Edit", data: { toggle: "modal", target: "#ModalCategory#{category.id}" }, class: "btn-edit",
                style: "margin-right: 5px; font-size: 18px" do %>
              <i class="fas fa-edit"></i>
            <% end %>

            <%= category.name %>
          </td>

          <td>
            <%= link_to admin_category_path(category), style: "color: black" do %>
              <% num_items = category.items.size %>
              <%= num_items.zero? ? "No" : num_items %>
              <%= num_items == 1 ? "item" : "items" %>
            <% end %>
          </td>

          <td><%= category.created_at.strftime("%e/%m/%Y") %></td>
        </tr>

        <!-- Modal Edit Category -->
        <%= render "admin/categories/form", category: category %>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Category', data: { toggle: "modal", target: "#ModalCategoryNew" }, class: "btn btn-ghost",
      style: "margin-left: 10px" do %>
    New Category
  <% end %>

  <!-- Modal New Category -->
  <%= render "admin/categories/form", category: Category.new %>
</div>
