<div class="admin-container">
  <h1 style="padding: 0 0 5px 10px"><%= @category.name %></h1>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Items</th>
        <th>Bought</th>
        <th>Created</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.name %>
          </td>

          <td>
            <%= link_to category_item_path(@category, item), style: "color: black" do %>
              <%= OrdersItem.where(item_id: item.id).size %>
            <% end %>
          </td>

          <td><%= item.created_at.strftime("%e/%m/%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', admin_categories_path(@category), class: "btn btn-ghost", style: "margin-left: 10px" %>
</div>
