<div class="admin-container">
  <h1 style="padding: 0 0 5px 10px"><%= @category.name %></h1>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Items</th>
        <th>Bought</th>
        <th>Created</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "admin/items/item", collection: @items %>
    </tbody>
  </table>

  <%= link_to 'New Item', data: { toggle: "modal", target: "#ModalItemNew" }, class: "btn btn-ghost",
      style: "margin-left: 10px" do %>
    New Item
  <% end %>

  <%= link_to 'Back', admin_categories_path(@category), class: "btn btn-ghost", style: "margin-left: 10px" %>

  <!-- Modal New Item -->
  <%= render "admin/items/form", item: Item.new %>
</div>
