<div class="banner" style="background-image: url('<%= image_path 'banner-image.jpg' %>');">
  <div class="container">
    <h1 style="margin-bottom: 10px">Find the most beautiful crafts around the world!</h1>
    <%= link_to "Sign up", "#", class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <% @categories.each do |category| %>
    <% category.top_three.each do |item| %>
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://source.unsplash.com/random" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5><%= item.name %></h5>
                <p><%= item.description %></p>
                <p><%= item.price %></p>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
