// If there are any errors in the submited form, then...
<% if @review.errors.any? %>
  // Refresh the form to display validation errors
  $('#new_review').replaceWith("<%= j render "reviews/form", category: @item.category, review: @review %>");

  // Add validation errors to rating 'manually' as it is not a standard input field
  refreshInputValidations('.review_rating', 1, '.stars', "Rating <%= @review.errors.messages[:rating].first %>");

// Otherwise...
<% else %>
  // Refresh the Reviews list
  document.getElementById("reviews-list").innerHTML = "<%= j render partial: "reviews-list" %>";

  starRating(); // Quantify each review's rating with stars
  readMore();   // Hide the review's content if it is too long

  // Clean the form
  $('#new_review').replaceWith("<%= j render "reviews/form", category: @item.category, review: Review.new %>");

  // Refresh the the Item rating information
  document.querySelector('.item-rating-info h6').innerHTML = "<%= @item.rating_average_string %> <span><%= @item.reviews_size_string %></span>";
<% end %>
