<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Artisan</title>

    <meta name="author" content="Edgar Marques, Julie Mariano, Laure Olivier, Thomas Gibson">
    <meta name="description" content="Online marketplace for craftwork">
    <meta name="keywords" content="online marketplace for craftwork, craftwork, craftsmanship, artisanal products">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="favicon.png" type="image/png">

    <!-- Turbolinks -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- Stripe payment service -->
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <div class="page-container" style="min-height: 100%; position: relative">
      <%= render 'shared/flashes' %>
      <%= render 'shared/navbar' %>

      <!-- 135px is the Footer's height that is fixed to the bottom of the page -->
      <div class="content" style="padding-bottom: 135px; min-width: 480px">
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
